<?xml version="1.0" encoding="UTF-8"?>
<!--
nmw-oss-website - The oss.newmediaworks.com website.
Copyright (C) 2019, 2020, 2021  New Media Works
    info@newmediaworks.com
    703 2nd Street #465
    Santa Rosa, CA 95404

This file is part of nmw-oss-website.

nmw-oss-website is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

nmw-oss-website is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with nmw-oss-website.  If not, see <http://www.gnu.org/licenses />.
-->
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="false">
    <display-name>@{project.name} @{project.version}</display-name>
	<description>@{project.description}</description>

	<context-param>
		<description>
			The Google Analytics tracking ID for this site.
			If not provided or empty, the tracking script is not added.
		</description>
		<param-name>com.semanticcms.googleanalytics.GoogleAnalytics.trackingId</param-name>
		<param-value>@{google.analytics.trackingId}</param-value>
	</context-param>

	<context-param>
		<description><![CDATA[
			Controls the selection of HTML versus XHTML.  Supports three values:
			<ul>
				<li><code>SGML</code> - Use HTML always</li>
				<li><code>XML</code> - Use XHTML always</li>
				<li><code>auto</code> - (default) - Automatically choose based on the client's <code>Accept</code> header</li>
			</ul>
		]]></description>
		<param-name>com.aoapps.encoding.Serialization.default</param-name>
		<param-value>SGML</param-value>
	</context-param>

	<context-param>
		<description><![CDATA[
			Controls the default DOCTYPE for the application.  Supported values:
			<ul>
				<li><code>HTML5</code> - Use (X)HTML 5</li>
				<li><code>STRICT</code> - Use (X)HTML strict</li>
				<li><code>TRANSITIONAL</code> - Use (X)HTML transitional/loose</li>
				<li><code>FRAMESET</code> - Use (X)HTML frameset</li>
				<li><code>NONE</code> - No doctype</li>
				<li><code>default</code> - (default) - Use (X)HTML 5</li>
			</ul>
		]]></description>
		<param-name>com.aoapps.encoding.Doctype.default</param-name>
		<param-value>default</param-value>
	</context-param>

	<!-- Block any servlet container URL rewriting -->
	<session-config>
		<cookie-config>
			<http-only>true</http-only>
			<!-- <secure>true</secure> -->
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<!-- Prevents any sessions from being created -->
	<filter>
		<filter-name>com.aoapps.servlet.filter.NoSessionFilter</filter-name>
		<filter-class>com.aoapps.servlet.filter.NoSessionFilter</filter-class>
		<init-param>
			<param-name>cookieUrlParamPrefix</param-name>
			<param-value>cookie:</param-value>
		</init-param>
		<!-- No cookies required
		<init-param>
			<param-name>cookieNames</param-name>
			<param-value>user</param-value>
		</init-param>
		-->
	</filter>
	<filter-mapping>
		<filter-name>com.aoapps.servlet.filter.NoSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<!-- Error Pages -->
	<!-- Using error pages from semanticcms-theme-documentation:/META-INF/web-fragment.xml -->

</web-app>
