<?xml version="1.0" encoding="UTF-8"?>
<!--
nmw-oss-website - The oss.newmediaworks.com website.
Copyright (C) 2019  New Media Works
    info@newmediaworks.com
    703 2nd Street #465
    Santa Rosa, CA 95404

This file is part of nmw-oss-website.

nmw-oss-website is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

nmw-oss-website is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License
along with nmw-oss-website.  If not, see <http://www.gnu.org/licenses />.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="false">
    <display-name>@{project.name} @{project.version}</display-name>
	<description>@{project.description}</description>
	<context-param>
		<description>
			The Google Analytics tracking ID for this site.
			If not provided or empty, the tracking script is not added.
		</description>
		<param-name>com.semanticcms.googleanalytics.GoogleAnalytics.trackingId</param-name>
		<param-value>UA-177004-2</param-value>
	</context-param>
	<context-param>
		<description>
			When set to "true" and the request is from localhost, enables desktop
			integration mode by opening files on the server side instead of
			downloading through the browser.
		</description>
		<param-name>com.semanticcms.openfile.servlet.OpenFile.enabled</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- Block any servlet container URL rewriting -->
	<filter>
		<!--
			This must be first in the filter chain, or at least before all filters that
			perform any URL rewriting.  This filter specifically does not pass the URL
			rewriting up the filter chain, as it is intended to block default session
			 URL rewriting provided by servlet contains.
		-->
		<filter-name>NoEncodeUrlFilter</filter-name>
		<filter-class>com.aoindustries.servlet.filter.NoEncodeUrlFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>NoEncodeUrlFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<!-- Prevents any sessions from being created -->
	<filter>
		<filter-name>NoSessionFilter</filter-name>
		<filter-class>com.aoindustries.servlet.filter.NoSessionFilter</filter-class>
		<init-param>
			<param-name>cookieUrlParamPrefix</param-name>
			<param-value>cookie:</param-value>
		</init-param>
		<!-- No cookies required
		<init-param>
			<param-name>cookieNames</param-name>
			<param-value>user</param-value>
		</init-param>
		-->
	</filter>
	<filter-mapping>
		<filter-name>NoSessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
</web-app>
